<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <title>{% block title %}Document Delivery{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets
                '@MopaBootstrapBundle/Resources/public/less/mopabootstrapbundle.less'
                '@MopaBootstrapBundle/Resources/public/less/eyecon-datepicker.less'
                '@ChmDocumentBundle/Resources/public/css/document-delivery.css'
            %}
            <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
            {% endstylesheets %}
        {% endblock %}

        {% block head_script %}
        {# Overwrite this block to add your own js here, to get them generated into final files #}
        {% javascripts
            'http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% endblock head_script %}

    </head>
    <body>

        {% block navbar %}
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Document Delivery</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="{{ path('chm_document_list') }}">Gestion des documents</a></li>
                        <li><a href="#">Gestion des utilisateurs</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
        {% endblock navbar %}


        <div class="container">
            <div class="">
                <h1>{% block h1 %}Document Delivery{% endblock h1 %}</h1>
                {% block flashmessages %}
                    {% for flashMessage in app.session.flashbag.get('success') %}
                <div class="alert alert-success">
                    {{ flashMessage }}
                </div>
                    {% endfor %}
                    {% for flashMessage in app.session.flashbag.get('info') %}
                <div class="alert alert-info">
                    {{ flashMessage }}
                </div>
                    {% endfor %}
                    {% for flashMessage in app.session.flashbag.get('warning') %}
                <div class="alert alert-warning">
                    {{ flashMessage }}
                </div>
                    {% endfor %}
                    {% for flashMessage in app.session.flashbag.get('error') %}
                <div class="alert alert-danger">
                    {{ flashMessage }}
                </div>
                    {% endfor %}
                {% endblock flashmessages %}
                {% block body %}
                <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
                {% endblock body %}
            </div>
        </div><!-- /.container -->


        {% block foot_script %}
            {% javascripts
                '@MopaBootstrapBundle/Resources/bootstrap/js/tooltip.js'
                '@MopaBootstrapBundle/Resources/bootstrap/js/affix.js'
                '@MopaBootstrapBundle/Resources/bootstrap/js/alert.js'
                '@MopaBootstrapBundle/Resources/bootstrap/js/button.js'
                '@MopaBootstrapBundle/Resources/bootstrap/js/carousel.js'
                '@MopaBootstrapBundle/Resources/bootstrap/js/collapse.js'
                '@MopaBootstrapBundle/Resources/bootstrap/js/dropdown.js'
                '@MopaBootstrapBundle/Resources/bootstrap/js/modal.js'
                '@MopaBootstrapBundle/Resources/bootstrap/js/popover.js'
                '@MopaBootstrapBundle/Resources/bootstrap/js/scrollspy.js'
                '@MopaBootstrapBundle/Resources/bootstrap/js/tab.js'
                '@MopaBootstrapBundle/Resources/bootstrap/js/transition.js'
                '@MopaBootstrapBundle/Resources/public/js/mopabootstrap-collection.js'
                '@MopaBootstrapBundle/Resources/public/js/mopabootstrap-subnav.js'
                '@MopaBootstrapBundle/Resources/public/js/eyecon-bootstrap-datepicker.js'
            %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock foot_script %}
    </body>
</html>
