{% extends "ChmDocumentBundle:DocumentUpload:documentUploadLayout.html.twig" %}

{% block title %}ChmDocumentBundle:DocumentUpload:edit{% endblock %}

{% block body %}
<h1>Welcome to the DocumentUpload:list page</h1>
<table class="table">
	<thead>
		<tr>
			<td>Slug</td>
			<td>Valid ?</td>
			<td></td>
		</tr>
	</thead>
	<tbody>
		{% for document in documents %}
		<tr>
		    <td>{{ document.slug }}</td>
		    <td>{{ document.valid }}</td>
		    <td>
		        <a href="{{ path('chm_document_edit', {'id': document.id}) }}">
		        	<span class="glyphicon glyphicon-edit"></span>
	        	</a>
		        <a href="{{ path('chm_document_delete', {'id': document.id}) }}">
		        	<span class="glyphicon glyphicon-remove"></span>
		        </a>
		        <a href="{{ path('chm_document_download', {'slug': document.slug}) }}">
		        	<span class="glyphicon glyphicon-download"></span>
		        </a>
		    </td>
		</tr>
		{% endfor %}
	</tbody>
</table>
<a href="{{ path('chm_document_create') }}">New</a>
{% endblock %}
